@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Raleway');

/***************************/
/*        VARIABLES        */
/***************************/

$main-blue: #003BB0;
$main-orange: #FFA700;
$light-blue: #94B8FF;
$light-orange: #FFAA42;
$red-orange: #d93d00;
$beige: #fff5ed;

$body-font: "Raleway";
$title-font: "Montserrat";

$project-image-width: 250px;
$project-image-height: 180px;

$light-shadow: 0 2px 3px rgba(0, 0, 0, 0.16), 0 2px 3px rgba(0, 0, 0, 0.23);


//****************//
//    ELEMENTS    //
//****************//

body {
  background: white;
  line-height: 1.8em;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
  margin-bottom: 1.5em;
}

//*****************//
//     CLASSES     //
//*****************//

// General styles

.App {
  text-align: left;
  font-family: $body-font;
  color: black;
  margin-top: 2em;
}

// Main navigation

.NavBrand{
  font-family: $title-font;
  font-weight: 700;
  font-size: 1.5em;
  margin: .5em;
}

.NavBar{
  font-family: $title-font;
  text-align: center;
  margin-bottom: 5em;
}

.NavOption {
  margin: .5em;
  font-size: calc(100vw / 40);
  cursor: pointer;
  text-transform: uppercase;
  &:hover {
    color: $main-blue;
    animation: nav-hover .3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}

// ListPage

.ListPage {
  min-height: 100vh;
}


// Publication

.Publication {

    display: inline-grid;
    grid-template-columns: [left-edge] $project-image-width [image] 40px [between] 60% [right-edge];
    margin-top: 2em;

    .Image {
      width: $project-image-width;
      height: $project-image-height;
      box-shadow: $light-shadow;

      display: inline-grid;
      grid-column-start: left-edge;
      grid-column-end: image;
    }

    .Info {
      display: inline-grid;
      grid-column-start: between;
      grid-column-end: right-edge;

      .Title {
        font-family: $title-font;
        font-weight: 600;

        font-size: 1.1em;
        border-bottom: 1px solid black;
        color: $main-blue;
      }

      .Conference {
        margin-left: 10px;
        background-color: $main-blue;
        color: $beige;
        padding: 3px;
      }

      .Description {
        margin-top: 1em;
      }

      .Author {
        margin-right: .5em;
      }
    }

}

// People

.Person {
    .ImageContainer {
      width: 130px;
      height: 130px;
      position: relative;
      overflow: hidden;
      margin-bottom: 5px;
      box-shadow: $light-shadow;
      /*border-radius: 50%;*/
    }

    .StudentList {
      margin-top: 2em;
      margin-bottom: 1em;
      font-size: 1.5em;
      border-bottom: 1px solid black;
    }

    .Name {
      font-family: $title-font;
      font-weight: 600;
      color: $red-orange;
      &:hover{
        color: $beige;
        background-color: $red-orange;
      }
    }

    .Image {
      width: 100%;
      max-width: 25em;
      max-height: 25em;
    }

}

// Home

.Home{
    margin: 5em;
    margin-top: 1em;

    .Top{
      height: 400px;
    }

    .Statement{
      margin-top: 3em;
    }

    .FeaturedProjects{
      margin: 1em;
      width: 70vw;
    }
}



/****************************/
/*        ANIMATIONS        */
/****************************/
@keyframes nav-hover {
  from {
    text-shadow: 0px 0px $light-blue;
  }

  to {
    text-shadow: -2px -3px $light-blue;
  }
}
