@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Raleway');

/***************************/
/*        VARIABLES        */
/***************************/

$main-blue: #003BB0;
$main-orange: #FFA700;
$light-blue: #94B8FF;
$light-orange: #FFAA42;
$red-orange: #d93d00;
$beige: #fff5ed;

$body-font: "Raleway";
$title-font: "Montserrat";

$project-image-width: 250px;
$project-image-height: 180px;

$light-shadow: 0 2px 3px rgba(0, 0, 0, 0.16), 0 2px 3px rgba(0, 0, 0, 0.23);


//****************//
//    ELEMENTS    //
//****************//

body {
  background: white;
  line-height: 1.8em;
}

a {
  text-decoration: none;
}

a.authorlink:hover {
  font-weight: bold;  
}

a.authorlink:link {
  color: $red-orange;
}
a.authorlink:visited {
  color: $red-orange;
}


li {
  list-style-type: none;
  margin-bottom: 1.5em;
}

//*****************//
//     CLASSES     //
//*****************//

// General styles

.App {
  text-align: left;
  font-family: $body-font;
  color: black;
  margin-top: 2em;
}

// Main navigation

.NavBrand{
  font-family: $title-font;
  font-weight: 700;
  font-size: 1.5em;
  margin: .5em;
}

.NavBar{
  font-family: $title-font;
  text-align: center;
  margin-bottom: 5em;
}

.NavOption {
  margin: .5em;
  font-size: calc(100vw / 40);
  cursor: pointer;
  text-transform: uppercase;
  &:hover {
    color: $main-blue;
    animation: nav-hover .3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}




// ListPage

.ListPage {
  min-height: 100vh;
}

#PubList {
  width:60%;
} 

// Publication

.check-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select:none;
}

.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.check-container:hover input ~ .checkmark {
    background-color: #ccc;
}

.check-container input:checked ~ .checkmark {
    background-color: $red-orange;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.check-container input:checked ~ .checkmark:after {
    display: block;
}

.check-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.Publication {
    display: inline-grid;
    grid-template-columns: [left-edge] $project-image-width [image] 40px [between] 60% [right-edge];
   
    margin-top: 2em;

    .Image {
      width: $project-image-width;
      height: $project-image-height;
      box-shadow: $light-shadow;

      grid-column-start: left-edge;
      grid-column-end: image;
    }

    .Info {
      grid-column-start: between;
      grid-column-end: right-edge;
      display: inline-grid;
      grid-template-columns: [left-part] 20% [center-part] 80% [right-part];
      .Title {
	 grid-column-start: span 2;
         font-family: $title-font;
         font-weight: 600;
         font-size: 1.1em;
         color: $main-blue;
      } 

      .Conference {
	border-radius: 7px;
        background-color: $red-orange;
        color: $beige;
        padding: 0px 3px 0px 3px;
	justify-self: start;
	align-self: center;
      }
      .Author {
	grid-column-start: center-part;
        font-family: $title-font;
        margin-right: .5em;
      }

      .Description {
	grid-column-start: span 2;
        margin-top: 1em;
      }

  }
}



// People

.StudentList {
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 1.5em;
  border-bottom: 1px solid black;
}
.Person {
    .ImageContainer {
      width: 120px;
      height: 120px;
      position: relative;
      overflow: hidden;
      margin-bottom: 5px;
      box-shadow: $light-shadow;
      border-radius: 50%;
      margin-right: 20px;
    }

    .Name {
      font-family: $title-font;
      color: $red-orange;
      &:hover{
        font-weight: bold;
      }
    }

    .Image {
      width: 100%;
      max-width: 25em;
      max-height: 25em;
    }

    .DegreeYear {
      line-height: 1.2em;
      display: inline-block;
      padding: 0 5px;
      border-radius: 5px;
      font-size: 0.8em;
      text-align: center;
      color: $beige;
      background-color: $red-orange;
    }

    .CurrentRole {
      font-size: 0.9em;
      font-weight: 600;
      font-style: italic;
    }

    .BriefIntro {
      font-size: 0.9em;
      padding-bottom: 30px;
    }
}

// Home

.Home{
    margin: 5em;
    margin-top: 1em;

    .Top{
      height: 400px;
    }

    .Statement{
      margin-top: 3em;
    }

    .FeaturedProjects{
      margin: 1em;
      width: 70vw;
    }
}



/****************************/
/*        ANIMATIONS        */
/****************************/
@keyframes nav-hover {
  from {
    text-shadow: 0px 0px $light-blue;
  }

  to {
    text-shadow: -2px -3px $light-blue;
  }
}
