@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Raleway');

/***************************/
/*        VARIABLES        */
/***************************/

$main-blue: #003BB0;
$main-orange: #FFA700;
$light-blue: #94B8FF;
$light-orange: #FFAA42;
$red-orange: #d93d00;
$beige: #fff5ed;

$body-font: "Raleway";
$title-font: "Montserrat";

$project-image-width: 300px;
$project-image-height: 200px;

$light-shadow: 0 2px 3px rgba(0, 0, 0, 0.16), 0 2px 3px rgba(0, 0, 0, 0.23);

body {
  background: $beige;
  line-height: 1.8em;
}

a {
  color: $main-blue;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

li {
  list-style-type: none;
  margin-bottom: 1.5em;
}

.App {
  text-align: left;
  font-family: $body-font;
  color: black;
  margin-top: 2em;
}

.NavBrand{
  font-family: $title-font;
  font-weight: 700;
  font-size: 1.5em;
  margin: .5em;
}

.NavBar{
  font-family: $title-font;
  text-align: center;
  margin-bottom: 4em;
}

.NavOption {
  margin: .5em;
  font-size: calc(100vw / 40);
  cursor: pointer;
  text-transform: uppercase;
  &:hover {
    color: $main-blue;
    animation: nav-hover .3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}

.ListPage {
  /*margin: 3em 3em 10em 10em;
  max-width: 60vw;*/
  min-height: 100vh;
}

.ProjectPage {
  margin: 3em;
}

.ProjectPageImage{
  max-width: 100%;
  max-height: 30%;
  margin: 2.5em 0;
  background-color: $light-orange;
  padding: 1em;
}

.ProjectTitle {
  color: $main-blue;
  font-size: 1.2em;

  font-family: $title-font;
  font-weight: 600;

  cursor: pointer;
  &:hover {
    color: $red-orange;
    text-decoration: underline;
    text-decoration-color: $light-orange;
    text-decoration-style: wavy;
  }
}

.Project {
  display: inline-grid;
  grid-template-columns: [left-edge] $project-image-width [image] 40px [between] 60% [right-edge];
}

.ProjectImage {
  width: $project-image-width;
  height: $project-image-height;
  box-shadow: $light-shadow;

  display: inline-grid;
  grid-column-start: left-edge;
  grid-column-end: image;
}

.ProjectInfo {
  display: inline-grid;
  grid-column-start: between;
  grid-column-end: right-edge;
}

.Author {
  margin-right: .5em;
  padding: .1em;
  &:hover {
    background-color: $light-orange;
    text-decoration: none;
  }
}

.KarrieIntro {
  display: inline-block;
  margin: 2em;
  vertical-align: text-top;
}

.InfoSpacing {
  margin-top: 1.5em;
}

.Awards {
  margin-left: 2em;
  margin-right: 2em;
}

#KarrieText {
  font-size: 1.3em;
  font-family: $title-font;
  font-weight: bold;
  text-transform: uppercase;

  &:hover {
    color: $main-blue;
    animation: nav-hover .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}

#KarrieImage {
  width: 40%;
}

.KarrieIntroContainer {
  margin-bottom: 2em;
  color: $main-blue;
  border: 3px solid $main-blue;
}

.PublicationTitle {
  font-family: $title-font;
  font-weight: 600;

  font-size: 1.1em;
  border-bottom: 1px solid black;
  color: $main-blue;

}

.PublicationConference{
  margin-left: 10px;
  background-color: $main-blue;
  color: $beige;
  padding: 3px;
}

.PublicationDescription{
  margin-top: 1em;
}

/*.Publication:hover::before {
  content: "➭";
  font-size: 1.5em;
  position: absolute;
  margin-left: -1em;
}*/

.StudentList {
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 1.5em;
  border-bottom: 1px solid black;
}

.PersonName {
  font-family: $title-font;
  font-weight: 600;
  color: $red-orange;
  &:hover{
    color: $beige;
    background-color: $red-orange;
  }
}

.PersonImage {
  width: 100%;
  max-width: 25em;
  max-height: 25em;
}

.ProjectPage {
  min-height: 100vh;
}

.ProjectPageTitle {
  font-family: $title-font;
  font-weight: 600;
  font-size: 1.6em;
}

.ProjectSectionTitle {
  font-family: $title-font;
  font-size: 1.2em;
  font-weight: 600;
  color: $main-blue;
  margin-bottom: 1em;
}

.PeopleImageContainer {
  width: 130px;
  height: 130px;
  position: relative;
  overflow: hidden;
  margin-bottom: 5px;
  box-shadow: $light-shadow;
  /*border-radius: 50%;*/
}

.HomePage{
  margin: 5em;
  margin-top: 1em;
}

.HomeTop{
  height: 400px;
}

.KarrieHomePic{
  float:left;
  width: 392px;
  height: 392px;
  background-image: url(data/mit-karrie.jpg);
  background-color: $beige;
  background-blend-mode: multiply;
}

.HomeStatement{
  margin-top: 3em;
}

.FeaturedProjects{
  margin: 1em;
  width: 70vw;
}

/****************************/
/*        ANIMATIONS        */
/****************************/
@keyframes nav-hover {
  from {
    text-shadow: 0px 0px $light-blue;
  }

  to {
    text-shadow: -2px -3px $light-blue;
  }
}
